*{
    font-family: inter;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-frame{
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 89px; 
    display: flex;
}

/* NAVIGATION */
nav{
    padding: 5px 50px;
    background: #D4D4D4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black solid;
}

nav img{
    width: 251px;
    height: 63px;
    object-fit: cover;
}

.navigation{
    flex: 1 1 0;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    font-size: 24px;
    font-weight: 600;
}

.navigation a{
    text-decoration: none;
    color: black;
    position: relative;
}

.navigation a:hover{
    color: #F5ACC9; 
}

/* dropdown */

.dropdown {
    position: relative; 
}

.dropdown-isi {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    background-color: #d4d4d4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 10px 0px;
    transition: all 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.274);
}

.dropdown-isi a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}

.dropdown:hover .dropdown-isi {
    display: block;

}

.dropdown-isi a:hover {
  background-color: #ffffff4f;
}

/* HERO */

section {
    width: 100%;
    padding: 44px 138px;
    background: #F3C4C4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem; 
    box-sizing: border-box;
    box-shadow: 0 10px 20px #00000037;
}

.hero-text {
    flex: 1 1 646px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 13px;
}

section h1 {
    width: 100%;
    color: black;
    font-size: 30px;
    font-weight: 700;
    word-break: break-word;
}

section p {
    width: 100%;
    color: black;
    font-size: 20px;
    font-weight: 400;
    word-break: break-word;
    margin: 0;
}

section img {
    width: 276px;
    height: 252px;
    object-fit: contain;
}

/* Best Song Collection */

.best-song{
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 50px; 
    display: inline-flex
    
}

.best-song h1{
    text-align: center; 
    color: black;
}

.inside-best-song{
    width: 100%; 
    height: 100%;
    justify-content: center; 
    align-items: center; 
    gap: 68px; 
    display: inline-flex;
    flex-wrap: wrap;
}

.frame-text{
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 7px; 
    display: inline-flex;
}


/* song box */
.song-box{
    width: 240px; 
    height: 300px; 
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    background: #F1ADC9; 
    border-radius: 10px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 19px; 
    display: inline-flex;
    box-shadow: 0 4px 15px #500724ac;
    transition: color 0.8s ease;
}

.song-box:hover{
    transform: scale(1.05); 
    transition: transform 0.4s ease;
}

.song-box img{
    width: 200px; 
    height: 200px; 
    border-radius: 10px;
}

.song-box h1{
    text-align: center; 
    color: black;
    font-size: 16px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
}

.song-box p{
    text-align: center; 
    color: black;
    font-size: 16px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
}


/* Recomended songs */

.recomended-songs button {
    width: 24px; 
    height: 24px; 
    position: relative; 
    background: #F1ADC9; 
    overflow: hidden; 
    border-radius: 100px;
}
.recomended-songs h1{
    width: 100%; 
    text-align: center; 
    color: black;
    word-wrap: break-word;
    margin-bottom: 20px;
}


    /*caraosel*/
.caraosel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.carousel-container {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
}

.carousel-container img, .caraosel-item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: none;
    object-fit: cover;
}

footer{
    width: 100%; 
    height: 100%; 
    padding: 10px; 
    margin-top: 86px;
    background: #D4D4D4; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
    border-top: 1px black solid;
    color: black; 
    font-size: 20px; 
    font-weight: 400; 
    word-wrap: break-word;

}

@media screen and (max-width: 800px) {
    section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    section img {
        width: 200px;
        height: auto;
    }

    nav {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    nav img {
        width: 200px;
        height: auto;
        margin-bottom: 15px;
    }

    .navigation {
        flex-direction: column;
        gap: 15px;
        font-size: 20px;
        align-items: center;
    }
    .inside-best-song, .gambar1 {
        flex-direction: column;
        gap: 30px;
    }
}
