* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f3c4c4;
}

/* Navigation */
nav {
  padding: 5px 50px;
  background: #d4d4d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

nav img {
  max-height: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 20px;
  font-weight: 600;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.navigation a:hover {
  color: #f5acc9;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-isi {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 180px;
  background-color: #d4d4d4;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.27);
  padding: 10px 0;
}

.dropdown:hover .dropdown-isi {
  display: block;
}

.dropdown-isi a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.dropdown-isi a:hover {
  background-color: #ffffff4f;
}

/* Hero Section */
.hero {
  width: 100%;
  display: inline-flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  background: linear-gradient(
    180deg, 
    #1D000C 0%, 
    #830035 100%
    );
}

.hero-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-text h1 {
  color: white;
  font-size: 36px;
}

.hero-text p {
  color: white;
  font-size: 24px;
  max-width: 800px;
}

.hero img {
  width: 950px;
  max-width: 100%;
  height: auto;
}

/* Song Section */
.song-section {
  padding: 2rem;
}

.card {
  margin-bottom: 2rem;
}

.genre-title {
  font-size: 1.8rem;
  text-align: left;
  border-bottom: 2px black solid;
  margin-bottom: 20px;
}

.song-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-evenly;
}

.song-card {
  background: white;
  width: 250px;
  border-radius: 10px;
  transition: transform 0.2s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.song-card:hover {
  transform: translateY(-5px);
}

.song-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}

.text {
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 0 0 10px 10px;
}

.text h4 {
  font-size: 18px;
  color: palevioletred;
}

.text h5 {
  font-size: 16px;
  color: #333;
}

.text p {
  font-size: 14px;
  color: #333;
}

/* Footer */
footer {
  background: #202020;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border-top: 1px solid black;
}

/* Responsive */
@media (max-width: 800px) {
  nav {
    flex-direction: column;
    padding: 20px;
  }

  .navigation {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .hero img {
    width: 100%;
    }
  .song-grid {
    flex-direction: column;
    align-items: center;
  }
}
